header {
    width: 100vw;
    height: 5vh;
    background-color: #222;
    font-size: 2.7vh;
    line-height: 3vh;
    color: #fff;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;

        .logo {
            padding: 1vh 2vw;
            color: #fff;


        }
    }

}

@media (max-width: 425px) {
    header {
        height: 6vh;
        font-size: 3vh;
        line-height: 4vh;

        .logo {
            padding: 1vh 2vw;

        }
    }
}